$light_grey: #f6f6f6;
$network_grey: #7e7d8c;
$blue_button : #007f90;
$scrollBar : hsl(240, 1%, 20%);
$green_button : #00A400;
$red_button : #e00000;
$background : #52515c;
$text : #424242;
$productDetails : rgba(0, 0, 0, 0.53);
$categories :#525252;
$subCategories :#A5A5A5;
$selected : inset 6px 6px 6px rgba(0, 0, 0, 0.25);
$selection : #f8b312;
$productBtn : hsl(332, 94%, 30%);
$productBtn : hsl(332, 94%, 30%);
$headerBG : #242429;

$footer_button_width : 100px;
$footer_button_height : 90px;
$border_radius : 6px;
$shadow : 4px 4px 4px rgba(0, 0, 0, 0.25);
$shadowFooterButton : 4px 4px 4px rgba(0, 0, 0, 0.25), inset 2px 2px 3px rgba(255, 255, 255, 0.55);
$shadowProductButton : 4px 4px 4px rgba(0, 0, 0, 0.25), inset 0 2px 3px rgba(255, 255, 255, 0.55);