$light_grey: #f6f6f6;
$network_grey: #7e7d8c;
$blue_button : #007f90;
$scrollBar : hsl(240, 1%, 20%);
$green_button : #00A400;
$red_button : #e00000;
$background : #52515c;
$text : #424242;
$productDetails : hsl(0, 0%, 85%);
$categories :hsl(0, 92%, 75%);
$subCategories :hsl(30, 92%, 75%);
// $categories :hsl(0, 92%, 80%);
// $subCategories :hsl(30, 92%, 80%);
$selected : inset 6px 6px 6px rgba(0, 0, 0, 0.25);
$selection : hsl(42, 94%, 52%);

$footer_button_width : 100px;
$footer_button_height : 90px;
$border_radius : 6px;
$shadow : 4px 4px 4px rgba(0, 0, 0, 0.25);