@charset "UTF-8";
/* RESET END*/
body *, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body button:active, body button:focus, input[type=submit]:active, input[type=submit]:focus,
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus {
  outline: none;
}

ul, ol {
  list-style: none;
}

/* RESET END*/
body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #52515c;
  color: #424242;
  font-family: 'Mulish', sans-serif;
}

#ScreenLock {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: #52515c;
  color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

#ScreenLock #LogoKomesWhite {
  width: 280px;
}

#ScreenLock .date, #ScreenLock .time {
  font-size: 1.5rem;
}

#ScreenLock #lockInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 50px;
  background-color: #7e7d8c;
  color: #f6f6f6;
  border-radius: 2px;
}

#ScreenLock #screenLockErrorMessage {
  display: none;
  color: #ffb3b3;
  margin-bottom: 20px;
  padding: 0 5px;
  text-align: center;
}

#ScreenLock img, #ScreenLock .time {
  margin-bottom: 30px;
}

#ScreenLock #LockScreenImg {
  width: 30px;
  margin-bottom: 12px;
}

#ScreenLock label {
  margin-bottom: 12px;
}

#ScreenLock input {
  text-align: center;
  width: 100px;
  height: 45px;
  position: relative;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
}

#ScreenLock .lockInputFieldBasics {
  background-color: #fff;
  border: transparent;
  -webkit-box-shadow: inset 3px 3px 3px #C4C4C4;
          box-shadow: inset 3px 3px 3px #C4C4C4;
  margin-bottom: 30px;
}

#ScreenLock .lockInputFieldError {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
  background-color: #ffcccc;
  border: 2px solid red;
  outline: red;
}

#ScreenLock .lockInputFieldErrorAnimate {
  -webkit-animation: shake 0.3s linear;
          animation: shake 0.3s linear;
}

@-webkit-keyframes shake {
  20% {
    left: 20px;
  }
  40% {
    left: -20px;
  }
  60% {
    left: 5px;
  }
  80% {
    left: -5px;
  }
  100% {
    left: 0px;
  }
}

@keyframes shake {
  20% {
    left: 20px;
  }
  40% {
    left: -20px;
  }
  60% {
    left: 5px;
  }
  80% {
    left: -5px;
  }
  100% {
    left: 0px;
  }
}

#ScreenLock button {
  width: 150px;
  height: 50px;
  background-color: #940548;
  color: #f6f6f6;
  border: transparent;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
  opacity: 0.3;
  pointer-events: none;
}

#ScreenLock .active {
  opacity: 1;
  cursor: pointer;
  pointer-events: all;
}

#ScreenLock .active:active {
  -webkit-box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.25);
          box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.25);
}

#ScreenLock button img {
  margin-bottom: 0;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

h2, h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.3px;
}

h3 {
  opacity: 0.5;
}

button:not(.removeSelection):active,
#minusBtn:active,
#plusBtn:active,
#Main #Produits .category:active,
#Main #Produits .subCategoryList li:active,
#Main #Produits .product:active,
#Main #Selection #PaymentButton:active,
#Main #Selection tbody tr:active {
  -webkit-box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.25);
          box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.25);
}

.prices {
  position: relative;
  padding-right: 10px;
}

.prices::after {
  position: absolute;
  display: inline-block;
  content: " €";
}

header {
  color: #f6f6f6;
  background-color: #242429;
}

header #Network #LocalStatus::before, header #Network #InternetStatus::before {
  content: url(./ressources/NetworkStatus.svg);
  margin-right: 4px;
}

#modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  display: none;
}

#modalWindow {
  width: 350px;
  height: auto;
  background-color: #F6F6F6;
  padding: 20px 20px 30px;
  border-radius: 6px;
}

.modalHeader {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.modalContent {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 20px;
}

.modalContent img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.modalQuantityButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.modalQuantityButtons button {
  width: 45px;
  height: 45px;
  border: transparent;
  background-color: #7e7d8c;
  color: #f6f6f6;
  border-radius: 6px;
  font-size: 1.5rem;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 2px 2px 3px rgba(255, 255, 255, 0.55);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 2px 2px 3px rgba(255, 255, 255, 0.55);
}

#Quantity {
  font-size: 1.5rem;
  width: 60px;
  text-align: center;
}

#modalProductName, #modalProductPrice {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
}

.subtotal {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #940548;
  font-weight: 600;
}

.modalValidateButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.modalValidateButtons .cancel, .modalValidateButtons .add {
  text-transform: uppercase;
  width: 150px;
  height: 45px;
  font-size: 13px;
  border-radius: 6px;
  border: transparent;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
}

.modalValidateButtons .cancel {
  color: #940548;
  background-color: #f6f6f6;
  border: 1px solid #940548;
}

.modalValidateButtons .add {
  background-color: #940548;
  color: #f6f6f6;
}

#Main {
  height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Main > div {
  background-color: #f6f6f6;
  height: 100%;
}

#Main #displayProductsBtn {
  position: absolute;
  top: -0.6rem;
  left: 0;
  color: #f6f6f6;
  background-color: #940548;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 0 6px 6px 0;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 0 2px 3px rgba(255, 255, 255, 0.55);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 0 2px 3px rgba(255, 255, 255, 0.55);
  z-index: 20;
}

#Main .productsBlock {
  width: 0%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1rem;
  margin-right: 5px;
  border-radius: 0 6px 6px 0;
  -webkit-transition: width 0.15s linear;
  transition: width 0.15s linear;
}

#Main .productsBlock::-webkit-scrollbar {
  width: 10px;
}

#Main .productsBlock::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#Main .productsBlock::-webkit-scrollbar-thumb {
  background-color: #7e7d8c;
  border-radius: 6px;
}

#Main .productsBlock .dragList {
  overflow-x: scroll;
  cursor: -webkit-grab;
  cursor: grab;
}

#Main .productsBlock .itemList {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#Main .productsBlock .dragList::-webkit-scrollbar {
  display: none;
}

#Main .productsBlock li {
  height: 80px;
  width: 120px;
  background-color: #525252;
  color: #f6f6f6;
  font-size: 13px;
  font-weight: 300;
  border-radius: 6px;
  text-transform: uppercase;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
}

#Main .productsBlock .productDetails {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.53);
  letter-spacing: 0.3px;
}

#Main .productsBlock .subCategoryList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Main .productsBlock .subCategoryList li {
  background-color: #A5A5A5;
}

#Main .productsBlock .productList {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Main .productsBlock .productList li {
  color: #f6f6f6;
  height: 120px;
}

#Main .productsBlock #SearchInput {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 40px;
  height: 40px;
  border: transparent;
  -webkit-box-shadow: inset 1px 1px 4px #bababa;
          box-shadow: inset 1px 1px 4px #bababa;
  background-color: #fff;
  border-radius: 6px;
}

#Main .productsBlock .selected, #Main .productsBlock .subCategoryList .selected {
  -webkit-box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.25);
          box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.25);
  background-color: #f8b312;
  color: #f6f6f6;
}

#Main .productsBlock .product, #Main .productsBlock .category, #Main .productsBlock .subCategory {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Main .productsBlock .product {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Main .productsBlock .category, #Main .productsBlock .subCategory {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Main .productsBlock .subCategory, #Main .productsBlock .product {
  display: none;
}

#Main .productsBlock .pname, #Main .productsBlock .pprice {
  pointer-events: none;
}

#Main .productsBlockNewWidth {
  width: 70%;
}

#Main .selectionsBlock {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40px 1fr auto;
      grid-template-rows: 40px 1fr auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-transition: width 0.15s linear;
  transition: width 0.15s linear;
  border-radius: 6px;
}

#Main .selectionsBlock #tableContainer {
  width: 100%;
  height: calc(72vh - 130px);
  overflow-y: auto;
}

#Main .selectionsBlock thead {
  height: 30px;
  background-color: #7e7d8c;
  color: #f6f6f6;
  line-height: 30px;
}

#Main .selectionsBlock tr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 1fr (10%)[4] auto;
      grid-template-columns: 20% 1fr repeat(4, 10%) auto;
}

#Main .selectionsBlock .opZero {
  opacity: 0;
}

#Main .selectionsBlock tbody, #Main .selectionsBlock thead {
  width: 98%;
  text-transform: uppercase;
  font-size: 13px;
}

#Main .selectionsBlock tbody tr {
  position: relative;
  height: 40px;
  border-radius: 4px;
  margin-bottom: 4px;
  line-height: 40px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

#Main .selectionsBlock tr button {
  border: none;
  background-color: transparent;
  width: 40px;
}

#Main .selectionsBlock tr button img {
  pointer-events: none;
}

#Main .selectionsBlock .producStock, #Main .selectionsBlock .productQuantity, #Main .selectionsBlock .productPrice, #Main .selectionsBlock .productSubTotal {
  text-align: right;
  padding-right: 10%;
}

#Main .selectionsBlock .productReference, #Main .selectionsBlock .productName {
  padding-left: 5%;
}

#Main .selectionsBlock #Summary {
  bottom: 20px;
  right: 1rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#Main .selectionsBlock #PaymentButton {
  background-color: #00A400;
  color: #f6f6f6;
  border-radius: 6px;
  border: none;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-size: 13px;
}

#Main .selectionsBlock #PaymentButton span {
  display: inline-block;
}

#Main .selectionsBlock #PaymentButton span::before {
  content: url(./ressources/CarteBancaire.svg);
  vertical-align: middle;
  padding-right: 10px;
}

#Main .selectionsBlock #TotalAmount {
  font-size: 25px;
  font-weight: 800;
}

#Main .selectionsBlock #TotalValue {
  display: inline-block;
  margin-left: 10px;
  width: 120px;
  text-align: right;
}

#Main .selectionsBlockNewWidth {
  width: 30%;
  min-width: 280px;
}

#Main #SearchBlock {
  display: inline-block;
  width: 60%;
  position: relative;
}

#Main #SearchBlock::before {
  content: url(./ressources/Search2.svg);
  position: absolute;
  top: 0;
  left: 0;
}

#Main #SearchBlock .clearSearch {
  position: absolute;
  right: 0;
  border: transparent;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Main #SearchBlock .clearSearch:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

footer button {
  border: none;
  color: #f6f6f6;
  background-color: #007f90;
  width: 100px;
  height: 90px;
  border-radius: 6px;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 2px 2px 3px rgba(255, 255, 255, 0.55);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 2px 2px 3px rgba(255, 255, 255, 0.55);
}

footer #LogOut {
  background-color: #e00000;
}

@media screen and (max-height: 700px) {
  #Main {
    height: 75vh;
  }
  #Main #Selection #tableContainer {
    height: calc(65vh - 130px);
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 13px;
  }
  footer img, #Main #displayProductsBtn img {
    width: 24px;
  }
  footer button, #Main #displayProductsBtn {
    width: 80px;
    height: 70px;
  }
  #Main #SearchBlock {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */